 body{
	 
      background-color:#FFFFFF;
	  margin:0px;
	  padding:0px;}
	  
 .index_top{
      width:900px;
      height:52px;
      float:left;}
 
 .index_top_left{
      width:410px;
	  height:52px;
	  }	  
	  
 .index_top_right{
      width:490px;
	  height:41px;
	  margin-top:11px;}
	  
 .index_bgstrip{
      height:238px;
	  background-image:url(../images/header_bg1.jpg);
	  background-repeat:repeat-x;}
	  
 .index_headerimage{
      height:174px;
      background-image:url(../images/car.jpg);
	  background-repeat:no-repeat;
	  float:left;}	  
	  
 .index_header_top{
      height:49px;
	  float:left;}	
	
 .index_carimage{
       margin-top:49px;
       padding-left:48px;}  
	
 .index_carimage1{
      margin-top:50px;
	  padding-right:8px;}
	  
 .index_cetagories{
      border-bottom:1px solid #e7a6bf;
	  font-family:Berlin Sans FB;
	  color:#407e90;
	  height:47px;
	  font-size:22px;}
	  
 .index_welcome{
      height:54px;
	  border-bottom:1px solid #407e90;}	 
	  
 .index_welcomecontaint{
      font-family:Berlin Sans FB;
      font-size:30px;
      color:#d3739b;} 
	  
 .index_containt{
      font-family:Arial, Helvetica, sans-serif;
      font-size:12px;
	  color:#000000;
	  line-height:20px;}	
	  
 .index_proposal{
     font-family:Berlin Sans FB;
     font-size:28px;
     color:#407e90;
	  border:1px solid #407e90;} 
	 
 .index_containt1{
     font-family:tahoma;
	 font-size:10px;
	 color:#666666;
	 font-weight:bold;
	 text-decoration:none;} 
	 
 .index_containt1:hover{
     color:#0066FF;
     text-decoration:underline;}
	 
 .index_fottor{
     width:900px;
	 height:150px;
	 background-image:url(../images/fottor_strip.jpg);
	 background-repeat:repeat-x;}
	 
 .index_fottorcontaint{
      font-family:Arial, Helvetica, sans-serif;
	  font-size:11px;
	  color:#FFFFFF;}	 

 .styleborder{border:1px solid #e7a6bf;}	    
  img{border:0px;}
	  

	  /*tabs*/
	  #toplink2 {
font-family:Tahoma;
font-size:14px;
overflow:hidden;
}

#toplink2 ul{
margin:0px;
padding:0px;
}

#toplink2 li{
padding:0px 1px;
float:left;
list-style:none;
}

#toplink2 li a{
color:#bc3f77;
height:39px;
font-weight:600;
width:113px;
line-height:35px;
background-image:url(../images/main_tab.jpg);
background-repeat:no-repeat;
float:left;
text-decoration:none;
text-align:center;
margin-top:11px;
}

#toplink2 li a:hover{
text-decoration:none;
background-image:url(greenbg.gif)}
	  /*tabs_end*/
	  
	  
	  /*cetagories*/
	.cetagories{
	width:209px;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#77797a;
	
	}
.cetagories ul{
	margin:0px;
	padding:0px;
	}
.cetagories li{
	overflow:hidden;	
	list-style-type:none;
	height:30px;
	line-height:28px;
	background-image:url(../images/arrow.jpg);
	background-repeat:no-repeat;
	background-position:center left;
	}
.cetagories  li a{
font-family:Tahoma;
font-size:11px;
font-weight:bold;
	display:block;
	color:#404f52;
	height:30px;
	line-height:28px;
	text-decoration:none;
	padding-left:30px;}
	
.cetagories  li a:hover{
	display:block;
	text-decoration:underline;
	color:#f65625;
	}