form {
	margin: 0 auto;

	width: 450px;
	height: 500px;
	padding: 20px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}
.group {
	margin: 10px;
	padding: 5px;
}
label {
	padding-left: 10px;
	text-transform: uppercase;
}
input {
	margin-top: 10px;
	height: 40px;
	width: 400px;
	border-radius: 20px/20px;
	border: none;
	padding-left: 15px;
	font-size: 18px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}
button {
	cursor: pointer;
	padding: 10px 30px;
	height: 50px;
	color: #fff;
	background: #5200a5;
	border: none;
	text-transform: uppercase;
	font-size: 15px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}
button:hover {
	opacity: .80;
	font-weight: bold;
	transform: scale(1.1);
}